
.container {
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
  background-color: black
  ;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(255, 0, 0);  

}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}

.scrollContainer {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 40px;
  padding: 0 20px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  color: #fff;

}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  
}

.card {
  background-color: #fff;
  border-radius: 10px;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: rgba(11, 11, 11, 0.7);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);  
}

.card img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  color:#fff;
}

.card p {
  font-size: 16px;
  margin: 0 20px 20px;
  color:#fff;

}

.arrowContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #fff;

}

.button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 32px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;

}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: transparent;

}

.trainerSessionbutton {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s ease;
}

.trainerSessionbutton:hover {
  transform: translateY(-5px);
  border: 1px solid #ccc;
  background-color: #db0b3b;
  box-shadow: 0px 10px 20px rgb(255, 255, 255);
}

.name{
  color: #fff;
}

.selectedTrainer{
  color: #fff;
}

@media (max-width: 767px) {
  .scrollContainer {
    display: block;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding: 0;
  }

  .card {
    margin: 0 auto 20px;
    width: 80%;
  }

  .card h2 {
    font-size: 20px;
    margin: 10px 0;
  }

  .card p {
    font-size: 14px;
  }

  .button {
    font-size: 28px;
    margin: 0 5px;
  }
}
