* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpaperaccess.com/full/1244792.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem;
  color: #fff;
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
  max-width: 100vw;
  height: 70vh;
}
.container h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(11, 11, 11, 0.7);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
}

.para {
  color: #fff;
}
form p {
  margin: 1rem;
  font-size: 1rem;
  color: #000;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/206/268/839/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  form {
    width: 100%;
  }
}
