.button {
  background-color: #db0b3b;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 20px rgba(20, 19, 19, 0.4);
}
